/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

h1 {
    color: #FF9800;
    padding: 1em;
    padding-bottom: 0.3em;
}

#title-desc {
    padding: 1em;
    padding-top: 0.2em;
    margin-left: 2em;
    margin-bottom: 1.8em;
}

#preamble {
    margin: auto;
    max-width: 60em;
}
#postamble {
    margin: auto;
    max-width: 60em;
}

#content {
}

#content > div > h2 {
	padding: 1em;
	padding-left: 0em;
	margin: 1em;
	margin-left: 0;
}

.outline-text-2 {
    
	background-color: #eeeefc;
	padding: 1em;
	padding-bottom: 2em;
}


.status {
    max-width: 60em;
    margin: 'auto';
}

/* Navbar Container */
nav {
  background-color: #333;
  padding: 1rem;
  padding-left: 0.2rem:
  margin: 0em;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

/* Logo Styling */
.navbar-logo {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
}

/* Links Container */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
    color: white;
    font-size: 1.0rem;
     font-weight: bold;
}

.navbar-link:visited {
  color: #ddd;
}

/* Hamburger menu for mobile */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-icon {
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: relative;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.hamburger-icon::before {
  top: -7px;
}

.hamburger-icon::after {
  top: 7px;
}

/* Mobile View (Responsive Design) */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

#modified-at {
    margin-top: 4em;
    text-align: right;
    color: #333333;
}

/*
#FF9800 - WARM ORANGE
#2196F3 - VIBRANT BLUE
#4CAF50 - FRESH GREEN
#FAFAFA - ULTRA LIGHT GREY
#333333 - DARK GREY
*/
