/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
    background-color: #FAFAFA;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
}

#preamble {
    margin-top: 2em;
    margin: auto;
    max-width: 60em;
}
#postamble {
    margin: auto;
    max-width: 60em;
}

h1 {
    font-size: 2em;
    color: #FF9800;
    padding: 1em;
    padding-left: 0em;
    padding-bottom: 0.3em;
}

#title-desc {
    padding: 1em;
    padding-left: 0;
    padding-bottom: 1em;
}

#preamble {
    margin: auto;
    max-width: 60em;
}
#postamble {
    margin: auto;
    max-width: 60em;
}

#content {
}

#content > div > h2 {
    padding: 1em;
    padding-bottom: 0.5em;
	padding-left: 0;
	margin: 0.5em;
	margin-left: 0;
}

.outline-text-2 {    
	background-color: #eeeefc;
	padding: 1em;
	padding-bottom: 1.2em;
}


p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.status {
    max-width: 60em;
    margin: 'auto';
}

/* Navbar Container */
nav {
  border-radius: 0em 0.3em 12em 0em;
  background-color: #333;
  padding: 1em;
  padding-top: 0.2em; 
  padding-bottom: 0.2em; 
  padding-left: 0;
  margin: 0;
  margin-top: 0.5em;
  margin-right: 1em;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 10px;
}

/* Logo Styling */
.navbar-logo {
  font-size: 1.8em;
  color: #fff;
  text-decoration: none;
}

/* Links Container */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 2em;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.navbar-link:hover {
    color: white;
    font-size: 1.0em;
     font-weight: bold;
}

.navbar-link:visited {
  color: #ddd;
}

/* Hamburger menu for mobile */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-icon {
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: relative;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.hamburger-icon::before {
  top: -7px;
}

.hamburger-icon::after {
  top: 7px;
}

/* Mobile View (Responsive Design) */
@media (max-width: 768px) {

    h1 {
	font-size: 1.8em;
    }
  /* .navbar-links { */
  /*   display: none; */
  /*   position: absolute; */
  /*   top: 60px; */
  /*   left: 0; */
  /*   right: 0; */
  /*   background-color: #333; */
  /*   flex-direction: column; */
  /*   gap: 1.5em; */
  /*   padding: 1em; */
  /* } */

  /* .navbar-links.active { */
  /*   display: flex; */
  /* } */

  /* .hamburger { */
  /*   display: block; */
  /* } */
}

#modified-at {
    margin-top: 4em;
    text-align: right;
    color: #333333;
}

/*
#FF9800 - WARM ORANGE
#2196F3 - VIBRANT BLUE
#4CAF50 - FRESH GREEN
#FAFAFA - ULTRA LIGHT GREY
#333333 - DARK GREY
*/
